/**
 * Place your custom styles here.
 */
 body.isAdmin #ecobar-header {
 top:79px !important; 
 }
 #ecobar-title-long {
  visibility: hidden;
}
#ecobar-title-long:before {
	  visibility: visible;
	  content: 'NATIONAL GEOSPATIAL-INTELLIGENCE AGENCY COLLEGE';
}

#block-ecobar-theme-main-menu ul li > a {
	color: #ccc;
	font-family: "Raleway, Helevetica, Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 4px 15px;
}
#block-ecobar-theme-main-menu .navbar-nav > li > .dropdown-menu {
	background-color: #222;
}
#block-ecobar-theme-main-menu ul > li > a:hover {
	background-color: #333;
	color:#fff;
}
#block-ecobar-theme-main-menu ul.navbar-nav {
	margin:0;	
	margin-left: 5em;
}
.navbar {
    height: 28px !important;
	min-height: unset;
}
.navbar-header {
    height: 27px;
}
#navbar .navbar-toggle {
	padding: 4px 8px;
	margin-top: 3px;
	/* background-color: #fff; */
}
#navbar-collapse #block-ecobar-theme-main-menu {
	background-color: #333;
}